

<form action="{{module_path}}/{{staffGroup._id}}/editRole?_method=PUT" method="POST">
        <div class="container">
           <div class="row">
              
                {{!-- khach hàng  --}}
                <div class="col-md-12  mt-3">
                    <h4>Nhóm quyền </h4>
                </div>
                {{#each roleList}}
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="roles[]" value="{{this._id}}" id="f_{{this._id}}" {{checkboxPermi this._id ../staffGroupRoleList}}>
                            <label class="form-check-label" for="f_{{this._id}}">
                              {{this.nameVi}} 
                            </label>
                        </div>
                    </div>
                {{else}}
                        <li class="list-group-item text-center ">Trống</li>
                {{/each}}

               
                <div class="col-md-12">
                     <div class=" my-3">
                        <button type="submit"  class="btn btn-primary mr-3">Lưu</button>
                        <a class="btn btn-danger" href="{{module_path}}">Hủy và quay lại</a>
                    </div>
                </div>
            </div>
    </div>
    
</form>