<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-sm btn-warning mb-2" href="/crm/goods">Xóa bộ lọc</a>
            <form  method="GET" id="form-filter">
                {{!-- loai hang  --}}
                {{>filter_typeOfGoods}}
                {{>filter_groupOfGoods}}
                {{>filter_brand}}
                {{>filter_attribute}}
            </form>
           
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-md-6">
                    <form action="{{module_path}}" method="GET" id="form-search">
                        <div class="input-group input-group-sm">
                            
                            <input type="text" placeholder="Tìm kiếm theo tên hoặc theo mã hàng" id="search" class="form-control" name="key" value="{{key}}" autocomplete="off">
                            <span class="input-group-text text-danger" id="delete-search" style="cursor: pointer;">X</span>
                            <select id="feildSearch" name="feild" style="width:100px !important;border: 1px solid #ced4da;">
                                <option value="name">Theo tên</option>
                                <option value="goodsCodeId">Theo mã </option>
                            </select>
                            <script>
                                if('{{feild}}'){
                                    $('#feildSearch').val('{{feild}}');
                                }
                            </script>
                            <button type="submit" class="input-group-text btn btn-sm btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        </div>
                        <ul id="searchResult" style="display:none"> </ul>
                    </form>
                    <script>
                        //khi thay doi truong 
                        $('#feildSearch').change(function(){
                            var key = $('#search').val();
                            var feild = $(this).val();
                            if(key != ''){
                                $.get("/crm/goods/searchAjax?key="+key+"&feild="+feild , function(data, status){
                                    $('#searchResult').css('display','');
                                    $('#delete-search').css('display','');
                                    $('#searchResult').html(data);

                                });
                            }else{
                                $('#delete-search').css('display','none');
                                $('#searchResult').css('display','none');
                            }
                        });

                        $('#search').keyup(function(){
                            var key = $(this).val();
                            var feild = $('#feildSearch').val();
                            if(key != ''){
                                $.get("/crm/goods/searchAjax?key="+key+"&feild="+feild , function(data, status){
                                    $('#searchResult').css('display','');
                                    $('#delete-search').css('display','');
                                    $('#searchResult').html(data);

                                });
                            }else{
                                $('#delete-search').css('display','none');
                                $('#searchResult').css('display','none');
                            }

                            
                        });
                        //chon tim kiem
                            $('#searchResult').on('click','.liSearch',function(){
                                var key = $(this).attr('data-key');
                                $('#search').val(key);
                                $('#form-search').submit();
                            });
                        //xoa search
                            $('#delete-search').click(function(){
                                $('#search').val('');
                                $('#searchResult').css('display','none');
                                $('#delete-search').css('display','none');
                                window.location.href = '/crm/goods';
                            });
                        //an nut xoa tim kiem neu ko co key
                            var key = '{{key}}';
                            if(key){
                                $('#delete-search').css('display','');
                            }else{
                                $('#delete-search').css('display','none');
                            }
                    </script>
                    <style>
                        form#form-search {
                            position: relative;
                        }
                        ul#searchResult {
                            position: absolute;
                            background-color: #fff;
                            z-index: 999;
                            width: 100%;
                            list-style: none;
                            border: 1px solid #ced4da;
                            border-radius: 0px 0px 3px 3px;
                            padding-left: 0px;
                        }
                        ul#searchResult li {
                            border-bottom: 1px solid #ced4da;
                            padding: 6px 10px 6px 10px;
                            cursor: pointer;
                        }

                    </style>
                </div>
                <div class="col-md-6 ">

                    <a href="/crm/order/create" class="btn btn-sm btn-danger" id="createOrder">
                        <i class="fa fa-plus"></i> Tạo hóa đơn
                    </a>
                    {{!-- tao don tam  --}}
                    <script>
                        $('#createOrder').click(function(){
                            $.get('/crm/order/createTemporary')
                        });
                    </script>

                    <a href="{{module_path}}/create" class="btn btn-sm btn-primary">
                        <i class="fas fa-fw fa-file-import"></i> Nhập file
                    </a>
                    <a href="{{module_path}}/create" class="btn btn-sm btn-primary">
                        <i class="fas fa-fw fa-file-export"></i> Xuất file
                    </a>
       
                   {{!-- cot  --}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                            <i class="fa fa-columns" aria-hidden="true"></i> Cột
                            </button>
                        </button>
                        <div class="dropdown-menu p-2 text-muted" style="width: 300px; font-size:14px">
                            <form id="form-col-goods" method="POST">
                                <div class="row">
                                    {{{displayColOrder}}}
                                </div>
                            </form>
                            <script>
                                $('.displayCol').click(function(){
                                    var col = $(this).attr('data-col');
                                   // gan bien va tra ve gia tri true false  
                                    var isCheckboxAll = $(this).prop('checked');
                                    if(isCheckboxAll == true){
                                        $('.'+col).css('display',"");
                                    }else{
                                        $('.'+col).css('display',"none");
                                    }


                                    $.ajax({
                                        url: "/crm/setup/ajax?_method=PUT",
                                        type: "post",
                                        data: $('.displayCol:checked').serialize(),
                                        success: function(data) {
                                            console.log('Thành công '+data);
                                        }
                                    });
                               
                                });
                            </script>
                            {{!-- luu cho truong da chon  --}}
                        </div>
                    </div>
                   
                </div>
            </div>

            
            <hr>
            <form name="container-form" action="{{module_path}}/handle-form-action" method="POST">
                
                <table class="table table-striped table-hover" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th scope="col" width="1%">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                                    
                                </div>
                            </th>
                            <th scope="col"></th>
                            <th scope="col" class="col_billOfLadingCode" style="display:none">Mã vận đơn</th>
                            <th scope="col" class="col_colorderCode" style="display:none">Mã hàng</th>
                            <th scope="col" class="col_orderBill" style="display:none">Mã hóa đơn</th>
                            <th scope="col" class="col_createdAt" style="display:none">Thời gian tạo</th>
                            <th scope="col" class="col_customerName" style="display:none">Khách hàng</th>
                            <th scope="col" class="col_phone" style="display:none">Khách hàng</th>
                            <th scope="col" class="col_address" style="display:none">Địa chỉ</th>
                            <th scope="col" class="col_cityId" style="display:none">Tỉnh - TP</th>
                            <th scope="col" class="col_districtId" style="display:none">Quận Huyện</th>
                            <th scope="col" class="col_birthday" style="display:none">Ngày sinh</th>
                            <th scope="col" class="col_deliveryPartnerId" style="display:none">Đối tác giao hàng</th>
                            <th scope="col" class="col_branchId" style="display:none">Chi nhánh</th>
                            <th scope="col" class="col_orderReceiverId" style="display:none">Người nhận đặt hàng</th>
                            <th scope="col" class="col_creatorId" style="display:none">Người tạo</th>
                            <th scope="col" class="col_salesChannelId" style="display:none">Kênh bán hàng</th>
                            <th scope="col" class="col_note" style="display:none">Ghi chú</th>
                            <th scope="col" class="col_totalBeforeSaleOffPrice" style="display:none">Tổng tiền hàng</th>
                            <th scope="col" class="col_priceOther" style="display:none">Thu khác</th>
                            <th scope="col" class="col_customerNeedPay" style="display:none">Khách cần trả</th>
                            <th scope="col" class="col_customerPay" style="display:none">Khách đã trả</th>
                            <th scope="col" class="col_deliveryTime" style="display:none">Thời gian giao hàng</th>
                            <th scope="col" class="col_satusOrderId" style="display:none">Trạng thái</th>
                            
                            <th scope="col"></th>
                            <th scope="col">Ngày</th>
                        </tr>
                    </thead>
                    <tbody>
                            {{#each orderList}}
                                <tr>
                                    <th scope="row">
                                        <input class="form-check-input" type="checkbox" name="ids[]" value="{{this._id}}">
                                    </th>
                                   
                                    {{!-- ma van don  --}}
                                    <td class="col_billOfLadingCode" style="display:none">
                                        {{this.billOfLadingCode}}
                                    </td>
                                    {{!-- ma hoa don  --}}
                                    <td class="col_colorderCode" style="display:none">
                                        {{this.orderBill}}
                                    </td>
                                    {{!-- thoi gian tao  --}}
                                    <td class="col_createdAt" style="display:none">
                                        {{this.createdAt}}
                                    </td>
                                    {{!-- khach hang  --}}
                                    <td class="col_customerName" style="display:none">
                                        {{this.customerName}}
                                    </td>
                                    {{!-- dien thoai  --}}
                                    <td class="col_phone" style="display:none">
                                        {{this.phone}}
                                    </td>
                                    {{!-- dien chi  --}}
                                    <td class="col_address" style="display:none">
                                        {{this.address}}
                                    </td>
                                    {{!-- tinh - tp  --}}
                                    <td class="col_cityId" style="display:none">
                                        {{this.cityId}}
                                    </td>
                                    {{!-- quan huyen  --}}
                                    <td class="col_districtId" style="display:none">
                                        {{this.districtId}}
                                    </td>
                                    {{!-- ngay sinh  --}}
                                    <td class="col_birthday" style="display:none">
                                        {{this.birthday}}
                                    </td>
                                    {{!-- doi tac giao hang  --}}
                                    <td class="col_deliveryPartnerId" style="display:none">
                                        {{this.deliveryPartnerId}}
                                    </td>
                                    {{!-- chi nhanh  --}}
                                    <td class="col_branchId" style="display:none">
                                        {{this.branchId}}
                                    </td>
                                    {{!-- chi nhanh  --}}
                                    <td class="col_orderReceiverId" style="display:none">
                                        {{this.orderReceiverId}}
                                    </td>
                                    {{!-- nguoi tao --}}
                                    <td class="col_creatorId" style="display:none">
                                        {{this.creatorId}}
                                    </td>
                                    {{!-- kenh ban --}}
                                    <td class="col_salesChannelId" style="display:none">
                                        {{this.salesChannelId}}
                                    </td>
                                    {{!-- ghi chu--}}
                                    <td class="col_note" style="display:none">
                                        {{this.note}}
                                    </td>
                                    {{!-- tong tien sau giam gia--}}
                                    <td class="col_totalPrice" style="display:none">
                                        {{this.totalPrice}}
                                    </td>
                             
                                    {{!-- thu khac --}}
                                    <td class="col_priceOther" style="display:none">
                                        {{this.priceOther}}
                                    </td>
                                    {{!-- khach can tra --}}
                                    <td class="col_customerNeedPay" style="display:none">
                                        {{this.customerNeedPay}}
                                    </td>
                                    {{!-- khach da tra --}}
                                    <td class="col_customerPay" style="display:none">
                                        {{this.customerPay}}
                                    </td>
                                    {{!-- thoi gian giao hang --}}
                                    <td class="col_deliveryTime" style="display:none">
                                        {{this.deliveryTimey}}
                                    </td>
                                    {{!-- trang thai --}}
                                    <td class="col_satusOrderId" style="display:none">
                                        {{this.satusOrderId}}
                                    </td>
                                 
                                   
                                    
                                    <td>
                                        <a href="{{../module_path}}/{{this._id}}/edit/{{this.typeOfGoodsId}}" class="btn btn-primary btn-sm">
                                            <i class="fa fa-edit"></i> Sửa
                                        </a>
                                    
                                        <a href="#" data-name="{{this.name}}"   data-id="{{this._id}}" class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#deleteModal">
                                            <i class="fa fa-trash"></i> Xóa
                                        </a>
                                    </td>
                                    
                                    <td>
                                        <span>
                                                {{timecurren this.updatedAt}}
                                        </span>
                                    </td>
                                </tr>
                            {{else}}
                                Trống
                            {{/each}}

                              <script>
                                // checkbox cac truong da check box
                                    var colOrder = '{{displayColOrderVal.valueArray}}';
                                    
                                    var colOrder_slit = colOrder.split(",");
                                    var i;
                                    for (i = 0; i < colOrder_slit.length; i++) {
                                        document.getElementById('fo_'+colOrder_slit[i]).checked = true;
                                        $('.col_'+colOrder_slit[i]).css('display','') 
                                    } 
                               
                            </script>
                    </tbody>
                </table>
                
                <div class="row">
                    <div class="col-md-2">
                        <select name="action" class="form-select form-select-sm" required>
                            <option value="" selected>-- Hành động --</option>
                            <option value="delete">Xóa</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                         <button class="btn btn-sm btn-primary check-all-submit-btn disabled"> Thực hiện</button>
                    </div>
                </div>
                <div class="text-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {{{pagination TotalCount itemPerPageDefault}}}
                        </ul>
                    </nav>
                    
                </div>
            </form>

            <!-- Modal xoa  -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa vĩnh viễn </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tên {{module_name}}: <span class="NameDelete"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-danger" id="btn-delete">Ok xóa </button>
                    </div>
                </div>
            </div>
        </div>

            {{!-- form an xoa --}}
            <form name="delete-form" method="POST" >
            </form>

            <script>
                var id;
                var deleteForm = document.forms['delete-form'];
                var deleteModal = document.getElementById('deleteModal')
                deleteModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                
                var id = button.getAttribute('data-id');
                var catName = button.getAttribute('data-name');
            
                $('.NameDelete').html(catName);
                
                var btnDelete = document.getElementById('btn-delete');
                btnDelete.onclick = function () {
                    deleteForm.action =  '{{module_path}}/' + id + '/force?_method=DELETE';
                    deleteForm.submit();
                }
            })
            </script>

            {{!-- //checkbox  --}}
            <script>
                var checkboxAll = $('#checkbox-all');
                var ItemCheckbox = $('input[name="ids[]"]');
                checkboxAll.change(function(){
                    // gan bien va tra ve gia tri true false  
                    var isCheckboxAll = $(this).prop('checked');
                    ItemCheckbox.prop('checked',isCheckboxAll );
                    renderCheckAllSubmitBtn();
                });

                //khi bo check 1 thang thi bo checkbox all
                ItemCheckbox.change(function(){
                    var ischeckboxAll = ItemCheckbox.length == $('input[name="ids[]"]:checked').length;
                    checkboxAll.prop('checked',ischeckboxAll);
                    renderCheckAllSubmitBtn();
                })

            </script>

            {{!-- button thuc hien  --}}
            <script>
                var checkAllSubmitBtn = $('.check-all-submit-btn');
            
                function renderCheckAllSubmitBtn(){
                    var checkedCount = $('input[name="ids[]"]:checked').length;
                    if(checkedCount >0){
                        checkAllSubmitBtn.removeClass('disabled');
                    } else {
                        console.log(checkAllSubmitBtn );
                        checkAllSubmitBtn.addClass('disabled');
                    }
                }
            </script>
        </div>
    </div>
</div>

